
/* This is from: https://gist.github.com/adrianhajdin/997a8cdf94234e889fa47be89a4759f1 */

.App {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Container {
  display: flex;
}

.NavArrow {
  font-size: 10em;
}
